@import "src/styles/utils";

.inputHidden {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  padding: 0;
  margin: 0;
  z-index: -999;
}

.errorMessage {
  margin-top: 8px;

  @include breakpoint-tablet {
    width: max-content;
  }
}

.imageWrapper {
  display: block;

  cursor: pointer;
}

.imageSize {
  height: 180px;

  @include breakpoint-tablet{
    height: 300px;
  }
}

.container {
  @include container;
  padding-top: 0 !important;
}
