.inputHidden {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  padding: 0;
  margin: 0;
  z-index: -999;
}

.errorMessage {
  margin-top: 8px;

  opacity: 0;
  transition: opacity 0.5s;

  @media (min-width: 500px) {
    width: max-content;
  }
}

.errorMessageVisible {
  opacity: 1;
}

.imageWrapper {
  display: block;
  margin: -20px -10px 0 -10px;

  cursor: pointer;

  @media (min-width: 500px) {
    margin: -40px -40px 0 -40px;
  }
}

.imageSize {
  height: 180px;

  @media (min-width: 500px) {
    height: 300px;
  }
}
