@import "src/styles/utils";

.container {
  height: 100%;
  min-height: 100vh;
  border-radius: 0 !important;

  @include breakpoint-tablet-large {
    padding-top: 16px;
  }

  @include breakpoint-desktop {
    padding-bottom: 32px;
    padding-top: 32px;
  }

  @include breakpoint-desktop-large {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.title {
  margin: 0 0 20px;
  padding: 20px 0 0;

  text-align: center;
  color: white;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
