.container {
  height: 100%;
  min-height: 100vh;
  border-radius: 0;
}

.title {
  margin: 0 0 20px;
  padding: 20px 0 0;

  text-align: center;
  color: white;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
