.fullName {
  display: flex;
  align-items: center;
  gap: 12px;

  @media (max-width: 760px) {
    gap: 8px;
  }
}

.navBar {
  background: rgba(39, 39, 39, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
}

.comeBackIcon {
  height: 36px;
}
